/*

!.envrc
!.gitignore
!CMakeLists.txt

!flake.lock
!flake.nix

!cmake/
!tests/

!src/
!include/
!fwui-native/
fwui-native/tmp/
fwui-native/lib/fwui_native/*.so
fwui-native/ext/fwui_native/vendor/

!ruby/
ruby/lib/fwui/native/*/
!ruby/lib/fwui/native/.gitkeep

!data/
!static/
!templates/

!docs/
!examples/

!fwui.gemspec
!Rakefile
!README.md
!LICENSE

!.github/