# Исключить ВСЁ
/*

# РАЗРЕШИТЬ нужные файлы и папки
!/.gitignore
!/avatar.png
!/CMakeLists.txt
!/flake.lock
!/flake.nix
!/.github/
!/.github/*
!/elements/
!/elements/*
!/include/
!/include/*
!/src/
!/src/*
!/data/
!/data/*
!/static/
!/static/*
!/template/
!/template/*
